body{
  margin-top: 30px;
  padding-top: 50px;
  padding-left: 50px;
  margin-left: 30px;
}
*{
  margin: 0;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  height: 55px;
  position: fixed;
  margin-bottom: 10px;
  background-color: white;
  border-bottom: 1px solid rgb(126, 126, 126);
  z-index: 100;
}
.left-section{
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
 
}
.middle-section{
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
 
  height: 35px;
}
.menu{
  padding-left: 15px;
}
.logo{
  margin-left: 20px;
}
.ham-menu{
  width: 30px;
}
.yt-logo{
  width: 100px;
}
.search{
  height: 100%; 
  width: 50px;
  border: solid 0.1px rgb(192, 192, 192);
  background-color: rgb(240, 240, 240);
  border-radius: 0 5px 5px 0;
}
.search-button{
  flex: 1;
  width: 75%;
  border-radius: 50%;
}
.voice{
  margin-left: 18px;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgb(240, 240, 240);
}
.voice-button{
  flex: 1;
  height: 100%;
  width: 100%;
}
.searchbox{
  border: none;
  flex: 0.7;
  font-size: 16px;
  border-width: 1px;
  border: solid rgb(192, 192, 192) 0.1px;
  border-radius: 5px 0 0 5px;
  height: 100%;
  box-shadow: inset 1px 2px 5px rgb(0, 0, 0, 0.05);
}
.searchbox::placeholder{
  font-family: Roboto, Arial;
  font-size: medium;
  padding-left: 3%;
}

  .right-section{
    margin :0;
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 40px;
  
    justify-content: space-evenly;
    align-items: center;
  }
  .upload{
    height: 30px;
    width: 30px;
    margin: 0;
    padding: 0;
  }
  .channel-user
  {
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
  .notification-count{
      position: relative;
  }
  .count{
    position: absolute;
    top: -3px;;
    right: -3px;
    background-color: red;
    color: white;
    font-family: Roboto, Arial;
    font-size: 12px;
    padding: 2px 6px 2px 6px;
    border-radius: 10px;
  }
  