.sidebar{
  padding: 0;
  margin: 0;
  top: 70px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}
.home{
  height: 200px;
  width: 70px;
}
.home:hover{
  background-color: rgb(235, 235, 235);
}
.home-img{
  width: 39px;
  flex:1;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 15px;
}
.para{
  font-size: 12px;
  font-family: Roboto, Arial;
  font-weight: 500;
  text-align: center;
}
