#video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}
.thumbnail{
  position: relative;
}
.thumbnail-1{
  width: 100%;
}
.video-preview{
  width: 100%;
  font-family: Roboto, sans-serif;
}
.channel-pic{
  width: 36px;
  border-radius: 50%;
  margin-top: 9px;
}
.video-title{
  font-size: 15px;
  font-weight: 600;
  margin-top :20px;
}
.video-preview-grid{
  display: grid;
  grid-template-columns: 36px 1fr;
  column-gap: 10px;
}
.video-author{
  margin-top: 10px;
  font-size: small;
}
.video-stats{
  margin-top: 3px;
  font-size: 12px;
}
.timer{
  background-color: black;
  color: white;
  width: fit-content;
  position: absolute;
  bottom: 8px;
  right: 6px; 
  border-radius: 2px;
  font-family: Roboto, Arial;
  font-weight: 500;
  font-size: 12px;
  padding: 4px;
}